In [67]:
import pandas as pd
import numpy as np
import random
courses= pd.ExcelFile("courses.xlsx")

In [68]:
courses.sheet_names[0]

'Robotics'

In [69]:
coursesDic=dict()
for sheetnum,sheet in enumerate(courses.sheet_names):
    
    # Parse data from each worksheet as a Pandas DataFrame and append it 
    # to the dic
    df = courses.parse(sheet)
    df.set_index('name',inplace=True)
    df["name_col"]=df.index
    coursesDic[courses.sheet_names[sheetnum]]=df

In [70]:
coursesDic2=coursesDic.copy()
coursesDic2["Fluid"].head()

                                                      name_col
name
ابرام عاطف جرجس كامل                      ابرام عاطف جرجس كامل
احمد سعيد عبد الفتاح خليل مرسي  احمد سعيد عبد الفتاح خليل مرسي
احمد شعبان محمد احمد الفقي          احمد شعبان محمد احمد الفقي
احمد محمد محمد كامل                        احمد محمد محمد كامل
احمد محمد مفتاح                                احمد محمد مفتاح

In [71]:
students=pd.DataFrame(columns=['name'])
students.set_index('name',inplace=True)
students["e"]=0

for course in coursesDic2.values():

  students=pd.merge(students,course, how='outer',left_index=True, right_index=True).dropna(axis=1)
  

students.tail(50)

Empty DataFrame
Columns: []
Index: [محمد السيد عبد المقصود السيد لادعم, محمد بدوي رمضان متولي شعبان, محمد جابر حمدي عبد القادر, محمد حسن محمد ابراهيم, محمد حسني محمد علي, محمد خالد محمد عبد الحميد مريز, محمد خالد محمد عبدالباقي, محمد رجب ابو سريع مغيب, محمد سيد عبد العليم عبد الواحد, محمد شعبان محمد مخلوف, محمد طارق محمداحمدالديب, محمد عاشور يوسف خليل, محمد علي محمود عبد الوهاب, محمد عماد مختار احمد احمد, محمد فتحي عبد المحسن جوده, محمد قرني محظوظ نايل, محمد قرني محمود سيد, محمد كيلاني محمد عبد السلام, محمد محسن فتحي عبدالحليم, محمد محمود سيد محمود, محمد محمود محمد محمد, محمد مصطفي عصمت ابراهيم فوده, محمداحمد علي خميس مبروك, محمدرجب فراج حسن, محمدقرني ميهوب محمد, محمود جمال رمضان احمد, محمود خليفه خلف محمد, محمود سمير علي كاسب, محمود صلاح احمد محمد, محمود عبد الحليم سعد محمود, محمود عبد الغفار احمد ابو زيد, محمود محمد زكريا ابراهيم, محمودمحمد السيد عبد القادر, مرام جمال محمد علام محروس, مروان السيد ربيع السيد, مروه علاء الدين محمد, مصطفي احمد مصطفي محمدعبدالمنعم, مصطفي السيد احمد عبد العظيم, مصطفي عيد سعيد, مصطفي محمد ابوالحسن ناعس, مصطفي محمود علي عبد المجيد, معتز حسن عبدالعزيز محمد, منه الله محمد صلاح محمد عثمان, ميار محمد محمود علي, ميرنا هاني محمود محمد محمد, نور الدين طه محمود عبد العزيز, وئام عزالدين فؤاد فريد السيد, وليد محمود عبد الوهاب سيد, يوسف السادات انور محمد, يوسف خالد شعبان صابر]

In [72]:
def MAD(x):
  '''
  calculates the median absolute deviation which is defined as median(|x_i - median(x)|
  inputs: arraylike 
          X
  outputs: numpy float
          MAD
  '''
  return np.median(np.absolute(x - np.median(x)))

In [73]:

'''
def isIntersected(course1,course2):
  
 # checks the intersection of students between two courses
 # inputs: str
 #         course 1 name , course 2 name
 # outputs: bool
 #          True if there is intersection and False otherwise
  
  df_merge = pd.merge(coursesDic[course1], coursesDic[course2], how='inner',left_index=True, right_index=True)
  return not len(df_merge)==0

'''

"\ndef isIntersected(course1,course2):\n  \n # checks the intersection of students between two courses\n # inputs: str\n #         course 1 name , course 2 name\n # outputs: bool\n #          True if there is intersection and False otherwise\n  \n  df_merge = pd.merge(coursesDic[course1], coursesDic[course2], how='inner',left_index=True, right_index=True)\n  return not len(df_merge)==0\n\n"

In [74]:
def isTaken(course):
  '''
  checks whether the courses is already in the time table or not
  inputs: str
          course name
  outputs: bool
           True if exists in the table, False otherwise
  '''
  t1=any(timeTable["course1"].astype(str).str.match(course))
  t2=any(timeTable["course2"].astype(str).str.match(course))
  t3=any(timeTable["course3"].astype(str).str.match(course))

  return t1 or t2 or t3

In [75]:
'''timeTablelist = {'course1':[], 'course2': []}
timeTable = pd.DataFrame(data=timeTablelist)
for i in range(10000):
  randCourseI=random.choice(list(coursesDic.keys()))
  randCourseJ=random.choice(list(coursesDic.keys()))

  if(not isTaken(randCourseI) and  not isTaken(randCourseJ)):
    if(isIntersected(randCourseI,randCourseJ)==False):
      

      dayNCourses = pd.DataFrame([[randCourseI,randCourseJ]],
                                 columns=timeTable.columns)
      timeTable=timeTable.append(dayNCourses,ignore_index=True)
      coursesDic.pop(randCourseI)
      coursesDic.pop(randCourseJ)
'''

"timeTablelist = {'course1':[], 'course2': []}\ntimeTable = pd.DataFrame(data=timeTablelist)\nfor i in range(10000):\n  randCourseI=random.choice(list(coursesDic.keys()))\n  randCourseJ=random.choice(list(coursesDic.keys()))\n\n  if(not isTaken(randCourseI) and  not isTaken(randCourseJ)):\n    if(isIntersected(randCourseI,randCourseJ)==False):\n      \n\n      dayNCourses = pd.DataFrame([[randCourseI,randCourseJ]],\n                                 columns=timeTable.columns)\n      timeTable=timeTable.append(dayNCourses,ignore_index=True)\n      coursesDic.pop(randCourseI)\n      coursesDic.pop(randCourseJ)\n"

In [76]:


def isIntersected(*args):
  '''
  checks the intersection of students between two courses
  inputs: str
          course 1 name , course 2 name
  outputs: bool
           True if there is intersection and False otherwise
  '''

  df_merge=pd.concat(list(args))
  isduplicated=df_merge.duplicated()
  return not len(df_merge[isduplicated])==0


timeTableDic = {'course1':[], 'course2': [],'course3':[]}
timeTable = pd.DataFrame(data=timeTableDic)

for i in range(10000):
  try:
    randCourseI=random.choice(list(coursesDic.keys()))
    randCourseJ=random.choice(list(coursesDic.keys()))
    randCourseK=random.choice(list(coursesDic.keys()))
  except:
    None

  if(not isTaken(randCourseI) and  not isTaken(randCourseJ)and  not isTaken(randCourseK)):
    if(isIntersected(coursesDic2[randCourseI],coursesDic2[randCourseJ],coursesDic2[randCourseK])==False):
      

      dayNCourses = pd.DataFrame([[randCourseI,randCourseJ,randCourseK]],
                                 columns=timeTable.columns)
      timeTable=timeTable.append(dayNCourses,ignore_index=True)
      coursesDic.pop(randCourseI)
      coursesDic.pop(randCourseJ)
      coursesDic.pop(randCourseK)



for i in range(10000):
  try:
    randCourseI=random.choice(list(coursesDic.keys()))
    randCourseJ=random.choice(list(coursesDic.keys()))
  except:
    None

  if(not isTaken(randCourseI) and  not isTaken(randCourseJ)):
    if(isIntersected(coursesDic2[randCourseI],coursesDic2[randCourseJ])==False):
      

      dayNCourses = pd.DataFrame([[randCourseI,randCourseJ,"-"]],
                                 columns=timeTable.columns)
      timeTable=timeTable.append(dayNCourses,ignore_index=True)
      coursesDic.pop(randCourseI)
      coursesDic.pop(randCourseJ)


for i in range(10000):
  try:
    randCourseI=random.choice(list(coursesDic.keys()))
  except:
    None
    

  if(not isTaken(randCourseI)):


    coursesDic.pop(randCourseI)

    dayNCourses = pd.DataFrame([[randCourseI,"-","-"]],
                                columns=timeTable.columns)
    timeTable=timeTable.append(dayNCourses,ignore_index=True)

In [77]:
timeTable

                       course1                course2          course3
0           EngineeringDrawing          Mechatronics1  Microcontroller
1                  FundOfManuf               Robotics  FundOfMangement
2                LinearAlgebra                    AVS       accounting
3                       Ethics                 Signal       Mechanics1
4   MechanicsAndThermodynamics           Electronics1              PLC
5               Thermodynamics    SensorsAndActuators            calc1
6                      Physics         DigitalControl            Calc3
7             CSAndProgramming         MachineDesign2                -
8                     Control1  ManufSystemAutomation                -
9             TechnicalWriting                      -                -
10                       Fluid                      -                -
11            NumericalControl                      -                -
12                   Vibration                      -                -
13                      Fields                      -                -
14       InudstrialElectronics                      -                -
15                       Logic                      -                -

In [78]:
#shuffling
timeTable=timeTable.sample(frac = 1,ignore_index=True)
timeTable

                       course1                course2          course3
0                  FundOfManuf               Robotics  FundOfMangement
1        InudstrialElectronics                      -                -
2                       Ethics                 Signal       Mechanics1
3               Thermodynamics    SensorsAndActuators            calc1
4           EngineeringDrawing          Mechatronics1  Microcontroller
5                    Vibration                      -                -
6                     Control1  ManufSystemAutomation                -
7                       Fields                      -                -
8             TechnicalWriting                      -                -
9                LinearAlgebra                    AVS       accounting
10  MechanicsAndThermodynamics           Electronics1              PLC
11                       Logic                      -                -
12                     Physics         DigitalControl            Calc3
13                       Fluid                      -                -
14            CSAndProgramming         MachineDesign2                -
15            NumericalControl                      -                -

In [79]:
def isInCourse(course,M):
  '''
  checks whether stuent M is in course Course or not

  '''

  try:
    return coursesDic2[course].loc[students.index[M]].count()>0
  except:
    return False

def getStudentCourses(M):
  '''
  returns student M courses
  
  '''
  studentMCourses=[]
  for course in coursesDic2.keys():
    if isInCourse(course,M):
      studentMCourses.append(course)
  return studentMCourses

In [80]:
def studentMMAD(M):
  '''
  calculates the MAD of student M's time table

  '''
  studentMTimeTable=timeTable[timeTable["course1"].astype(str).str.match("|".join(getStudentCourses(M))) | 
                      timeTable["course2"].astype(str).str.match("|".join(getStudentCourses(M))) |
                      timeTable["course3"].astype(str).str.match("|".join(getStudentCourses(M)))]
  index=studentMTimeTable.index
  return MAD(index)

In [81]:
def avgMAD():
  '''
  calculates avgerage Mad for this particular time table
  '''
  
  sum=0
  for M in range(len(students)):
    sum+=studentMMAD(M)

  avg=sum/len(students)
  return avg

In [82]:
avgMAD()

3.471631205673759